html {
    background-image: -webkit-linear-gradient(65deg, #CCF3EE 50%, #E4E9FD 50%);
}

a {
    text-decoration: none;
}

body {
    font-family: sans-serif;
    padding: 30px;
}

/* .exceptBody {
    background-color: #E4E9FD;
    background-image: -webkit-linear-gradient (65deg, #CCF3EE 50%, #E4E9FD 50%); */
    
 .bio {
     text-align: center;
    }

h1 {
    color: #53aaaa;
}

h2 {
    color: #53aaaa;
}

h3 {
    color: #53aaaa;
}

hr {
width: 5%;
border-color: rgb(128, 128, 128);
border-style: none;
border-top-style: dotted;
border-width: 6px;
background-color: #CCF3EE;
}

header {
    display: inline-block;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    text-align: center;
    background-color: #14C38E;
    width: 100%;
    margin: 0;

    padding: 10px;
}

nav {
    display: inline-block;
    width: 125px;
    font-size: 1.25rem;
}
.hovereffect:hover {
    color: #CCF3EE;
}
